html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hidden {
  display: none;
}

.data-table td {
  border-style: double;
}

.removed {
  background-color: brown;
  color: white;
}

.added {
  background-color: aquamarine;
}

.delayed {
  background-color: brown;
  color: white;
}

.intime {
  background-color: aquamarine;
}

.table_header {
  font-weight: bold;
}

.menubtn {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-size: contain;
  border: 2px solid;
  border-radius: 5%;
  
}

.FReadines {
  background-image: url(img/FReadines.jpg);
}

.FHistory
{
  background-image: url(img/FHistory.jpg);
}

.HighBugs
{
  background-image: url(img/HighBugs.jpg);
}

.UCloseInRelease
{
  background-image: url(img/UCloseInRelease.jpg);
}

.UCloseInTime
{
  background-image: url(img/UCloseInTime.jpg);
}

.UHistory
{
  background-image: url(img/UHistory.jpg);
}