html {
  font-size: 16px;
}


.hidden {
  display: none;
}

.data-table td {
  border-style: double;
}

.removed {
  background-color: brown;
  color: white;
}

.added {
  background-color: aquamarine;
}

.delayed {
  background-color: brown;
  color: white;
}

.intime {
  background-color: aquamarine;
}


.table_header {
  font-weight: bold;
}

.menubtn {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-size: contain;
  border: 2px solid;
  border-radius: 5%;
}

.FReadines {
  background-image: url(img/notebook.png);
}

.FHistory {
  background-image: url(img/time-forward.png);
}

.HighBugs {
  background-image: url(img/bug.png);
}

.UCloseInRelease {
  background-image: url(img/hourglass-end.png);
}

.UCloseInTime {
  background-image: url(img/calendar-clock.png);
}

.UHistory {
  background-image: url(img/time-check.png);
}

.TCloseInTime {
  background-image: url(img/checkbox.png);
}


.menu {
  -webkit-box-ordinal-group: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 1;
  /* OLD - Firefox 19- */
  -ms-flex-order: 1;
  /* TWEENER - IE 10 */
  -webkit-order: 1;
  /* NEW - Chrome */
  order: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 300px;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  border-right: 1px solid gray;
  max-width: 300px;
  margin-right: 10px;
}


.menu a {
  color: black;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 24px;
  height: 32px;
  padding-left: 36px;
  text-decoration: none;
  display: block;
  width: 300px;
  margin-bottom: 10px;
  line-height: 32px;
}

.menu a:hover {
  text-shadow: 1px 1px 2px black;
}

.testclass
{
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-wrap {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  height: 100%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.text-center {
  -webkit-box-ordinal-group: 2;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 2;
  /* OLD - Firefox 19- */
  -ms-flex-order: 2;
  /* TWEENER - IE 10 */
  -webkit-order: 2;
  /* NEW - Chrome */
  order: 2;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */


  /* No flex here, other cols take up remaining space */

  -moz-box-flex: 1;
  /* Without this, Firefox 19- expands to widest paragraph, overrides width */
}

.status {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  background-position: center;
}


.delayed>.status {
  background-image: url(img/close.png);
  background-size: 50%;
}

.intime.earlier>.status {
  background-image: url(img/star.png);
  background-size: 80%;
}

.intime>.status {
  background-image: url(img/check.png);
}