@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a href="UHistory" class="UHistory menubtn"></a>
    <a href="UCloseInRelease" class="UCloseInRelease menubtn"></a>
    <a href="FReadines" class="FReadines menubtn"></a>
    <a href="FHistory" class="FHistory menubtn"></a>
    <a href="HighBugs" class="HighBugs menubtn"></a>
    <a href="UCloseInTime" class="UCloseInTime menubtn"></a>

</div>
